<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Steam_Workshop_Downloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SteamWorkshopDownloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Steam_Workshop_Downloader.Properties.Settings>
            <setting name="UseSteamCredentials" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SteamUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="SteamPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="SteamCMDAutoDownload" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SteamCMDPath" serializeAs="String">
                <value>steamCMD/</value>
            </setting>
            <setting name="SteamCMDUrl" serializeAs="String">
                <value>https://steamcdn-a.akamaihd.net/client/installer/steamcmd.zip</value>
            </setting>
        </Steam_Workshop_Downloader.Properties.Settings>
        <SteamWorkshopDownloader.Properties.Settings>
            <setting name="UseSteamCredentials" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SteamUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="SteamPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="SteamCMDAutoDownload" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SteamCMDUrl" serializeAs="String">
                <value>https://steamcdn-a.akamaihd.net/client/installer/steamcmd.zip</value>
            </setting>
            <setting name="SteamCMDPath" serializeAs="String">
                <value>steamCMD/</value>
            </setting>
        </SteamWorkshopDownloader.Properties.Settings>
    </userSettings>
</configuration>